@import '../../constants/themes/index.scss';

.index {
  margin: 15px;
}

.reward-view {
  margin: 10px;
  text-align:center;
  align-content: center;
}

.at-accordion .at-accordion__header {
  font-size: $ft16;
  font-weight: 600;
  color: $titleColor;
}

.at-accordion .at-list__item {
  font-size: $ft14;
  color: $textLightColor;
}

.at-accordion .at-list__item .item-extra__info {
  color: $numberColor;
}

.at-accordion .at-list__item .item-extra__info {
  max-width: 500px;
}